.popup-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.popup-list-item:hover {
  background-color: var(--bg-secondary);
}

.popup-list-item a {
  width: 100%;
  padding: 0.55rem 2.4rem;
  font-weight: 500;
}

.popup-list-item svg {
  position: absolute;
  right: 0.5rem;
  transform: rotate(270deg);
}

.secondary-popup {
  left: 100%;
  top: 0;
  display: none;
}

.popup-list-item:hover>.secondary-popup {
  display: block;
}