.form {
  min-width: 280px;
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  position: absolute;
  top: calc( -0.5 * var(--input-fields-height) );
  border: 1px solid var(--search-bar-inactive-color);
  border-radius: 4px;
  background: #fff;
}

.container__focus {
  width: 100%;
  position: absolute;
  top: calc( -0.5 * var(--input-fields-height) );
  border: none;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.2);
}

.text-input {
  width: 100%;
  height: var(--input-fields-height);
  background: #FFFFFF;
  padding: 0 5rem 0 0.5rem;
  font-size: var(--text-size);
  border: none;
  background: transparent;
  outline: none;
  color: var(--text-color);
}

.text-input::placeholder {
  color: var(--search-bar-inactive-color);
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  right: 0;
  top: calc( var(--input-fields-height) / -2 );
}

.buttons button {
  cursor: pointer;
  width: var(--input-fields-height);
  height: var(--input-fields-height);
  transform: translateY(1px);
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--search-bar-inactive-color);
}

.buttons button:hover {
  color: var(--text-color);
}

.icon-search {
  height: calc( var(--input-fields-height) * 0.6 );
  width: calc( var(--input-fields-height) * 0.6 );
}

.icon-cross {
  height: calc( var(--input-fields-height) * 0.38 );
  width: calc( var(--input-fields-height) * 0.38 );
}

.icon-search svg {
  height: 100%;
  width: 100%;
}

.icon-cross svg {
  height: 100%;
  width: 100%;
}

.buttons button:hover .icon-cross svg path {
  fill: var(--text-color);
}

.pipe {
  height: calc( var(--input-fields-height) * 0.6 );
  width: 1px;
  background-color: #ACACAC;
  border-radius: 1px;
}