.crumb-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: var(--text-color);
}

.crumb-content {
  cursor: pointer;
  user-select: none;
  /* transition: color var(--transition-time); */
  /* font-size: calc( var(--text-size) * 0.88 ); */
  font-size: var(--text-size);
}

.crumb-content:hover {
  color: var(--text-hover-color);
}

.crumb-container:hover>div {
  display: block;
}

.crumb-drop-down {
  top: 100%;
  display: none;
}