.drop-down-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.drop-down-list-item:hover {

}

.drop-down-list-item:hover>p {
  color: var(--text-hover-color);
}

.drop-down-list-item>p {
  width: 100%;
  padding: 0.55rem 1.2rem;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  color: var(--text-color);
  /* font-size: calc( var(--text-size) * 0.88 ); */
  font-size: var(--text-size);
  user-select: none;
  /* transition: color var(--transition-time); */
}

.drop-down-list-item svg {
  position: absolute;
  right: 0.5rem;
  transform: rotate(270deg);
}

.secondary-drop-down {
  left: 100%;
  top: 0;
  display: none;
}

.drop-down-list-item:hover>.secondary-drop-down {
  display: block;
}